body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #000;
    color: #fff;
}

h1, h2, p {
    color: #fff;
}

/* Rounded Boxes Styles */
.rounded-box {
    background: linear-gradient(to bottom right, #008080, #000000); /* Darkened turquoise-grey gradient */
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: white;
    text-decoration: none;
}

.rounded-box:hover {
    border-color: #40E0D0; /* Turquoise border color on hover */
    box-shadow: 0 0 10px rgba(64, 224, 208, 0.7); /* Turquoise glowing effect */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Glowing Animation */
@keyframes glowingBorder {
    0% {
        border-color: transparent;
        box-shadow: 0 0 5px rgba(64, 224, 208, 0.5);
    }
    100% {
        border-color: #40E0D0;
        box-shadow: 0 0 10px rgba(64, 224, 208, 0.7);
    }
}

/* Apply the animation to all rounded boxes */
.rounded-box {
    animation: glowingBorder 2s infinite alternate;
}

.title {
    margin-top: 65px;
}

@media (max-width: 800px) {
    .title {
        text-align: center;
    }
}

@media (max-width: 1080px) {
    .title {
        text-align: center;
        margin-top: 100px;
    }
}

.abhijeetrajhans {
    position: fixed;
    top: 6px;
    right: 7px;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    z-index: 1000;
    font-family: "Franklin Gothic Medium", serif;
}

/* Media query for desktop mode */
@media (max-width: 767px) {
    .abhijeetrajhans {
        display: none;
    }
}

.abhijeetrajhans.hidden {
    opacity: 0;
    pointer-events: none;
}

.footer {
    text-align: center;
    color: white;
}

.abhijeetrajhans {
    position: fixed;
    top: 25px;
    right: 7px;
    padding: 10px;
    color: #ffffff; /* Set the text color as needed */
    font-size: 18px;
    z-index: 1000; /* Adjust the z-index as needed to ensure it appears on top */
    font-family: "Franklin Gothic Medium", serif;
    transition: opacity 0.5s ease-in-out;
}

.abhijeetrajhans.hidden {
    opacity: 0; /* Fade out when scrolled down */
    pointer-events: none; /* Disable interaction when hidden */
}

/* Media query for desktop mode */
@media (max-width: 767px) {
    .abhijeetrajhans {
        display: none; /* Hide in mobile view */
    }
}

.social-text {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Times New Roman", serif
}

.social-text:hover {
    color: white;
    text-decoration: none;
}

.navigation {
    overflow-x: auto;
    background-color: #333;
    white-space: nowrap;

    /* WebKit (Chrome, Safari) */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    /* Firefox */
    overflow: -moz-scrollbars-none;

    border-radius: 10px;
}

.navigation::-webkit-scrollbar {
    width: 6px;
}

.navigation::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.navigation a {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

@media (min-width: 900px) {
    /*
    Desktop
    */
    .abhijeetrajhans {
        position: fixed;
        top: 25px;
        right: 7px;
        padding: 10px;
        color: #ffffff; /* Set the text color as needed */
        font-size: 18px;
        z-index: 1000; /* Adjust the z-index as needed to ensure it appears on top */
        font-family: "Franklin Gothic Medium", serif;
        transition: opacity 0.5s ease-in-out;
    }

    .abhijeetrajhans.hidden {
        opacity: 0; /* Fade out when scrolled down */
        pointer-events: none; /* Disable interaction when hidden */
    }

    .links {
        color: white !important; /* Set the color to white */
        text-decoration: none; /* Optional: Remove underline */
    }

    .links:hover {
        text-decoration: underline; /* Optional: Add underline on hover */
    }

    .links-div {
        color: white; /* Set the text color to white */
    }

}

@media (max-width: 900px) {
    .links {
        color: white !important; /* Set the color to white */
        text-decoration: none; /* Optional: Remove underline */
    }

    .links:hover {
        text-decoration: underline; /* Optional: Add underline on hover */
    }

    .links-div {
        color: white; /* Set the text color to white */
    }

}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2b2b2b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Glowing border animation */
    animation: glowTopButton 2s linear infinite;
}

@keyframes glowTopButton {
    0% {
        box-shadow: 0 0 5px #ff3399, 0 0 10px #ff3399, 0 0 15px #ff3399;
    }
    20% {
        box-shadow: 0 0 5px #ff3399, 0 0 10px #ff3399, 0 0 15px #ff3399;
    }
    40% {
        box-shadow: 0 0 5px #9900cc, 0 0 10px #9900cc, 0 0 15px #9900cc;
    }
    60% {
        box-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 15px #0000ff;
    }
    80% {
        box-shadow: 0 0 5px #9900cc, 0 0 10px #9900cc, 0 0 15px #9900cc;
    }
    100% {
        box-shadow: 0 0 5px #ff3399, 0 0 10px #ff3399, 0 0 15px #ff3399;
    }
}
